body {
  margin: 0px;
  background-color: #a0c4ff;
}

.headers {
  background-color: #1d3557;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  align-items: center;
}

.ip-finder:hover {
  cursor: pointer;
}

.translator :hover {
  cursor: pointer;
}

.epoch-converter:hover {
  cursor: pointer;
}

.outer-flex-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.utility-info {
  font-size: 40px;
  margin-top: 20px;
}

.ip-utility {
  font-size: 100px;
  text-shadow: 3px 3px 3px white;
}

.unix-timestamp {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 12px;
  text-shadow: 3px 3px 3px white;
}

.epoch-utility {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: 40px;
}

#epoch-timestamp {
  height: 40px;
  width: 400px;
  border-radius: 12px 12px 0px 0px;
  outline: none;
  text-align: center;
  font-weight: bolder;
  font-size: 13px;
  border: 0;
}

#to-local-btn,
#to-epoch-btn {
  height: 40px;
  width: 403px;
  border-style: none;
  background-color: #457b9d;
  color: white;
  font-weight: bolder;
}

#to-epoch-output,
#to-local-output {
  height: 100px;
  width: 400px;
  border-radius: 0px 0px 12px 12px;
  border-style: none;
  font-weight: bolder;
  font-size: 15px;
}

.epoch-to-local,
.local-to-epoch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-right: 30px solid transparent;
}

.epoch-utility-internal-div {
  display: flex;
  margin-top: 12px;
}

.local-input-boxes {
  display: flex;
  justify-content: center;
}

.local-input {
  height: 40px;
  width: 63.2px;
  text-align: center;
  font-weight: bolder;
  font-size: 13px;
  border: 0;
}

#year-input {
  border-radius: 12px 0px 0px 0px;
}

#sec-input {
  border-radius: 0px 12px 0px 0px;
}

.more-apps {
  position: absolute;
  position: fixed;
  font-size: 20px;
  font-weight: bolder;
  bottom: 2%;
  right: 2%;
}

.translator-utility {
  display: none;
}

.language-input-section,
.language-output-section {
  display: flex;
  width: 400px;
  flex-direction: column;
}

#input-language {
  border-top-left-radius: 12px;
}

#output-language {
  border-top-right-radius: 12px;
}

#language-input-textarea,
#language-output-textarea {
  height: 300px;
  border: none;
}

#language-input-textarea {
  border-bottom-left-radius: 12px;
}

#language-output-textarea {
  border-bottom-right-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .epoch-utility-internal-div {
    flex-direction: column;
  }

  .epoch-to-local {
    border-bottom: 30px solid transparent;
  }

  .local-to-epoch {
    border-bottom: 30px solid transparent;
  }

  .headers {
    font-size: 10px;
  }

  .utility-info {
    font-size: 25px;
  }

  .ip-utility {
    font-size: 50px;
  }

  .more-apps {
    font-size: 12px;
  }

  #epoch-timestamp {
    width: 295px;
  }

  #to-local-btn,
  #to-epoch-btn {
    width: 300px;
  }

  #to-epoch-output,
  #to-local-output {
    width: 296px;
  }

  .local-input {
    width: 46px;
    font-size: 10px;
  }
}
