body {
  margin: 0px;
  background-color: #a0c4ff;
}

.headers {
  background-color: #1d3557;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  align-items: center;
}

.ip-finder:hover {
  cursor: pointer;
}

.translator :hover {
  cursor: pointer;
}

.epoch-converter:hover {
  cursor: pointer;
}

.outer-flex-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.utility-info {
  font-size: 40px;
  margin-top: 20px;
}

.ip-utility {
  font-size: 100px;
}

#unix-timest

.epoch-utility {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  display: none;
  margin-top: 40px;
}

#epoch-timestamp {
  height: 40px;
  width: 400px;
  border-radius: 12px 12px 0px 0px;
  outline: none;
  text-align: center;
}

#to-local-btn, #to-epoch-btn{
  height: 40px;
  width: 405px;
  border-style: none;
  background-color: #457b9d;
  color: white;
  font-weight: bolder;
}

#to-epoch-output, #to-local-output {
  height: 100px;
  width: 400px;
  border-radius: 0px 0px 12px 12px;
  border-style: none;
  font-weight: bolder;
  font-size: 20px;
}

.epoch-to-local, .local-to-epoch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-left: 12px solid transparent;
}

.epoch-utility-internal-div
{
  display: flex;
}

.local-input-boxes
{
  display: flex;
  justify-content: center;
}

.local-input
{
  height : 40px;
  width: 59.5px;
  text-align: center;
  font-weight: bolder;
}

#year-input
{
  border-radius: 12px 0px 0px 0px;
}

#sec-input
{
  border-radius: 0px 12px 0px 0px;
}

@media only screen and (max-width: 600px) {
  .epoch-utility-internal-div {
    flex-direction: column;
  }
}